@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="top-row px-4">
            <a href="https://yourapp.com/" target="_blank">Visit Our Website</a>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>


@code {

    

    protected override void OnInitialized()
    {
       Console.WriteLine("Jash smert");
    }

    

}